@import "../../styles/vars";

.btn {
  color: $NYANZA_COLOR;
  background-color: $DARK_JUNGLE_GREEN;
  border: 1px solid $NYANZA_COLOR;

  padding: 15px 30px;
  border-radius: $BORDER_RADIUS_SMALL;

  transition: .4s ease-in-out all;

  &:hover, &:focus {
    color: $DARK_JUNGLE_GREEN;
    background-color: $NYANZA_COLOR;
    border: 1px solid $DARK_JUNGLE_GREEN;
    cursor: pointer;
  }
}

.invert {
  color: $DARK_JUNGLE_GREEN;
  background-color: $NYANZA_COLOR;
  border: 1px solid $DARK_JUNGLE_GREEN;

  &:hover, &:focus {
    color: $NYANZA_COLOR;
    background-color: $DARK_JUNGLE_GREEN;
    border: 1px solid $NYANZA_COLOR;
  }
}

.one-button {
  justify-content: center !important;
  width: 100% !important;
}
