@import "../../styles/vars";

.card-wrapper {
  width: 500px;
  height: 100px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  margin-top: 25px;

  background-color: $OCEAN_GREEN;
  color: $DARK_JUNGLE_GREEN;
  border-radius: $BORDER_RADIUS;
  transition: all .3s;

  &:hover {
    transform: translate(-5px, -5px);
    cursor: pointer;
  }

  &__place {
    flex-basis: 70%;
  }

  &__temp {
    flex-basis: 25%;
  }

  &__icon {
    flex-basis: 15%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75px;
  }
}

@media (max-width: 500px) {
  .card-wrapper {
    height: 65px;
  }
}
