.input-text{
  padding: 15px 20px;
  border-radius: 25px;
  box-shadow: 15px 15px 30px #999999, -15px -15px 30px #ffffff;
  border: none;
  min-width: 260px;
}

@media (max-width: 430px) {
  .input-text{
    min-width: 220px
  }
}
