@import "../../styles/vars";

.input-text {
  padding: 15px 20px;
  border-radius: $BORDER_RADIUS_SMALL;
  border: 2px solid $NYANZA_COLOR;
  outline: none;
  background-color: $DARK_JUNGLE_GREEN;
  color: $NYANZA_COLOR;
  width: 100%;

  &::placeholder {
    color: $NYANZA_COLOR;
  }
}
